@import "base/variables";

.agreement {
  &__info__container {
    height: 250px;
    background-color: $green-color;
  }

  &__info {
    display: flex;
    margin: 80px auto 0 auto;
    justify-content: space-between;
  }

  &__text {
    max-width: 550px;
    padding-top: 75px;
    padding-bottom: 75px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;

    .bold-text {
      font-weight: 900;
    }
  }

  &__img {
    height: 289px;
    margin-top: -38px;
    &-img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__products__wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__products {
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &__product {
    display: flex;
    align-items: center;
    flex-direction: column;

    &-icon {
      width: 135px;
      height: 135px;

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-number {
      color: $green-color;
      font-weight: bold;
      font-size: 22px;
    }

    &-name {
      font-size: 18px;
      font-weight: 700;
      line-height: calc(18px * 2);
    }

    &__info {
      text-align: center;
      margin-top: 40px;
      font-size: 22px;
      line-height: 1.2;
    }
  }

  .acceptanceOfLivestock {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 200px;

    &__title {
      font-size: 24px;
      font-weight: 700;
    }

    &__subtitle {
      margin-top: 10px;
      max-width: 550px;
      font-size: 16px;
      line-height: 1.2;
    }

    &__btn {
      display: inline-block;
      margin-top: 20px;
      padding: 6px 12px;
      border: 2px solid $green-color;
      border-radius: 5px;
      font-size: 17px;
      color: $black-color;
    }

    &__right__block {
      position: relative;
    }
    &__img {
      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-first {
        margin-top: -100px;
        width: 410px;
      }

      &-second {
        width: 210px;
        position: absolute;
        bottom: -30px;
        right: -40px;
      }
    }
  }

  .mission {
    margin-top: 120px;
    display: flex;
    align-items: center;

    &__left__text {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
    }

    &__right__text {
        font-size: 18px;
        line-height: calc(18px * 2);
    }
  }

  &__contact__container {
    background-color: $green-color;
    margin-top: 100px;
  }

  &__contact {
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;

    &-text {
        font-size: 17px;
        line-height: 1.2;
    }

    &-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        a {
            display: flex;
            align-items: center;
            color: #fff;
        }

        span {
            margin-left: 7px;
            font-size: 20px;
            font-weight: bold;
        }

        i {
            color: #fff;
            font-style: normal;
            font-size: 24px;
        }
    }

    &-phone {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
    }
  }
}
