@import "base/variables";

.faq {
  font-family: 'Manrope', sans-serif;
  &__container {
    margin: 50px 0 40px 0;
    &-title {
      font-size: 28px;
      font-weight: 700;
    }
  }

  &-accordion {
    margin-top: 60px;
    &__item {
      border-bottom: 1px solid $black-color;

      button[aria-expanded="true"] {
        border-bottom: 1px solid $black-color;
      }

      button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 12px 0 14px 0;
        color: #000;
        font-size: 18.4px;
        font-weight: 400;
        border: none;
        background: none;
        outline: none;
        color: green;

        &:hover,
        &:focus {
          cursor: pointer;

          &::after {
            cursor: pointer;
            color: $black-color;
            border: 1px solid $black-color;
          }
        }
      }
    }

    &__title {
      display: block;
      padding: 12px 24px 12px 0;
      color: $black-color;
      font-weight: 600;
    }

    .icon {
      display: inline-block;
      position: absolute;
      top: 26px;
      right: 0;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px;
      &::before {
        display: block;
        position: absolute;
        content: "";
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }
      &::after {
        display: block;
        position: absolute;
        content: "";
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
      }
    }

    button[aria-expanded="true"] {
      color: red;

      .icon {
        &::after {
          width: 0;
        }
      }
      + .faq-accordion__content {
        opacity: 1;
        max-height: fit-content;
        transition: all 200ms linear;
        will-change: opacity, max-height;
      }
    }

    &__content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;

      p {
        font-size: 16px;
        font-weight: 300;
        margin: 2em 0;
        color: #757373;
        line-height: calc(16px * 2);
      }
    }
  }
}


@media (max-width: 767.98px) {
  .faq {

    &-accordion__title {
      font-size: 16px;
      overflow-wrap: break-word;
    }
  }
}