@import 'base/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.second-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

@import 'blocks/header';

@import 'blocks/title';

@import 'blocks/footer';