@import "base/variables";

.product {
  &__items {
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 60px 40px;
  }

  &__item {
    margin-bottom: 100px;
  }

  &__img {
    width: 100%;
    height: 300px;
    background-color: grey;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    margin-top: 30px;
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 18px;
    line-height: calc(18px * 2);
  }

  &__info {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 16px;
    padding: 10px 0;
  }

  &__weight__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &__weight {
    padding: 4px 6px;
    background-color: $green-color;
    color: #fff;
    border-radius: 5px;
    margin-left: 6px;
  }
}

@media (max-width: 992px) {
  .product {

  }
}

@media (max-width: 992px) {
  .product {
    &__title {
      font-size: 24px;
    }

    &__img {
      height: 240px;
    }

    &__subtitle {
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 768px) {
  .product {
    &__items {
      grid-template-columns: repeat(2, minmax(40%, 1fr));
    }

    &__item {
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 576px) {
  .product {

    &__items {
      grid-template-columns: repeat(2, minmax(35%, 1fr));
      column-gap: 30px;
    }

    &__item {
      margin-bottom: 40px
    }
    &__img {
      height: 180px;
    }

    &__title {
      font-size: calc(1vw + 1vh + 1vmin);
    }

    &__subtitle {
      margin-top: 10px;
      font-size: 13px;
      line-height: 1.4;
    }

    &__info {
      font-size: 13px;
    }
  }
}

@media (max-width: 380px) {
  .product {
    &__img {
      height: 140px;
    }
  }
}

@media (max-width: 325px) {
  .product {
    &__items {
      grid-template-columns: 1fr;
    }

    &__item {
      margin-bottom: 30px;
    }
  }
}