@import "base/variables";

.product {
  &__items {
    margin-top: 130px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 30%;
    margin-bottom: 100px;
  }

  &__img {
    width: 100%;
    height: 300px;
    background-color: grey;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    margin-top: 30px;
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 18px;
    line-height: calc(18px * 2);
  }

  &__info {
    margin-top: 10px;
    font-size: 16px;
    padding: 10px 0;
  }

  &__weight {
    padding: 4px 6px;
    background-color: $green-color;
    color: #fff;
    border-radius: 5px;
    margin-left: 6px;
  }
}

@media (max-width: 992px) {
  .product {
    &__text {
        word-break: break-all;
    }
    &__title {
      font-size: 24px;
    }
  }
}

@media (max-width: 768px) {
  .product {
    &__items {
      column-gap: 15px;
    }
    &__item {
      width: 45%;
    }
  }
}