@import "base/variables";

.nav {
  &__link,
  &__btn {
    color: #fff;
  }

  &__button-mobile {
    display: none;
  }
}

.header__hamburger-line {
  background: #fff !important;
}

.switch-lang {
  &-arrow {
    &::after {
      content: "";
      background: url("../img/hero/openlanglisticon.svg");
    }
  }
  .open &-arrow::after,
  .nav.active .open &-arrow::after {
    background: url("../img/hero/closelanglisticon.svg");
  }
}

.promo {
  position: relative;
  background: url("../img/hero/promo-bg.png") center top/cover no-repeat;
  padding-top: 230px;
  height: 100vh;

  &__title {
    font-family: "Manrope";
    font-weight: 800;
    color: #fff;
    font-size: 100px;
    margin-bottom: 20px;
  }

  &__text {
    text-align: center;
    font-size: 32px;
  }

  &__subtitle {
    color: #fff;
  }

  &__arrow {
    display: block;
    margin: 30px auto 0 auto;
  }
}

.process {
  padding: 115px 0 60px 0;

  &__items {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  &__video {
    max-width: 450px;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    max-width: 480px;
    margin-left: 30px;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;

    .green-text {
      color: $green-color;
      font-weight: 800;
    }
  }
}

.about {
  padding: 60px 0;

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__subtitle {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    color: #464646;
  }

  &__items {
    margin-top: 100px;
  }

  &__item {
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    width: 35%;
    &-title {
      font-size: 36px;
      font-weight: 500;
    }

    &-desc {
      margin: 24px 0 30px 0;
      font-size: 18px;
      line-height: 160%;
    }
  }

  &__link {
    color: #007947;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 24px;
    border: 1px solid $green-color;
    border-radius: 5px;
    display: inline-block;
  }
}

.gallery {
  padding: 200px 0 60px 0;

  .swiper {
    width: 100%;
    height: 100%;

    &-wrapper {
      height: 100% !important;
    }

    &-top-slider {
      padding-top: 40px;
    }

    &-bottom-slider {
      margin-top: 45px;
      padding-bottom: 20px;
    }

    &-slide {
      height: 420px !important;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-scrollbar {
      background: transparent;
    }

    &-scrollbar-drag {
      background: #464646;
      height: 2px;
    }

    &-top-scrollbar {
      top: 0;
      bottom: 0;
      left: 0;
    }
  }
}

@media (max-width: 1300px) {
  .gallery {
    padding: 70px 0 60px 0;

    .swiper {
      &-slide {
        height: 100% !important;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .about {
    &__text {
      width: 45%;
      &-title {
        font-size: 32px;
      }

      &-desc {
        font-size: 17px;
      }
    }
    &__img {
      width: 45%;
    }
  }

  .process {
    padding: 40px 0 60px 0;
    &__items {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }

    &__video {
      margin-top: 40px;
      width: 100%;
      max-width: unset;

      video {
        height: 400px;
        border-radius: 5px;
      }
    }

    &__text {
      width: 83%;
      margin: 0 auto;
      text-align: left;
      max-width: unset;
    }
  }
}

@media (max-width: 767.98px) {
  .promo {
    &__title {
      font-size: 86px;
    }
  }

  .nav {
    &__button {
      display: none;
    }

    &__button-mobile {
      display: block;
      margin-top: 30px;

      .nav__btn {
        color: $black-color;
        font-size: 20px;
      }
    }
  }

  .about {
    &__img {
      width: 40%;
    }

    &__text {
      margin-left: 25px;
      width: 50%;
    }
  }
}

@media (max-width: 650px) {
  .about {
    &__item {
      flex-direction: column;
      margin-bottom: 80px;
    }

    &__img {
      width: 60%;
    }

    &__text {
      text-align: center;
      margin-left: 0;
      margin-top: 36px;
      width: 75%;

      &-title {
        font-size: 28px;
      }
    }
  }

  .process {
    &__video {
      video {
        height: 250px;
      }
    }
  }
}

@media (max-width: 577px) {
  .nav {
    &__links {
      width: 100%;
    }
  }

  .promo {
    &__text {
      padding-top: 40px;
    }
    &__title {
      font-size: 68px;
    }
  }
}

@media (max-width: 483px) {
  .promo {
    &__title {
      font-size: 56px;
    }

    &__subtitle {
      font-size: 26px;
    }
  }

  .process {
    &__video {
      video {
        height: 180px;
      }
    }
  }
}


@media (max-width: 370px) {
  .promo {
    &__title {
      font-size: 50px;
    }

    &__subtitle {
      font-size: 20px;
    }
  }
}

@media (max-width: 333px) {
  .promo {
    &__title {
      font-size: 40px;
    }
  }
}

@media (max-width: 290px) {
  .promo {
    &__title {
      font-size: 100%;
    }
  }
}