@import "base/variables";

.header {
  .nav {
    &__link {
      color: #fff;
    }
  }
}

.switch-lang {

  &-arrow {

    &::after {
      content: '';
      background: url("../img/hero/openlanglisticon.svg");
    }
  }
  .open &-arrow::after,
  .nav.active .open &-arrow::after {
    background: url("../img/hero/closelanglisticon.svg");
  }
}

.promo {
  position: relative;
  background: url("../img/hero/promo-bg.png") center top/cover no-repeat;
  padding-top: 230px;
  height: 100vh;

  &__title {
    font-family: "Manrope";
    font-weight: 800;
    color: #fff;
    font-size: 100px;
    margin-bottom: 20px;
  }

  &__text {
    text-align: center;
    font-size: 32px;
  }

  &__subtitle {
    color: #fff;
  }

  &__arrow {
    display: block;
    margin: 30px auto 0 auto;
  }
}

.process {
  padding: 115px 0 60px 0;

  &__items {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  &__video {
    max-width: 450px;

    video {
      width: 100%;
      height: 100%;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    max-width: 480px;
    margin-left: 30px;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 500;

    .green-text {
      color: $green-color;
      font-weight: 700;
    }
  }
}

.about {
  padding: 60px 0;

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__subtitle {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    color: #464646;
  }

  &__items {
    margin-top: 100px;
  }

  &__item {
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    position: relative;
  }

  &__call {
    position: absolute;
    bottom: -100px;
    right: -60px;
  }

  &__text {
    max-width: 400px;
    &-title {
      font-size: 36px;
      font-weight: 800;
    }

    &-desc {
      margin: 24px 0 30px 0;
      font-size: 18px;
      line-height: 160%;
    }
  }

  &__link {
    color: #007947;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 24px;
    border: 1px solid $green-color;
    border-radius: 5px;
    display: inline-block;
  }
}

.gallery {
  padding: 200px 0 60px 0;

  .swiper {
    width: 100%;
    height: 100%;

    &-wrapper {
      height: 435px !important;
    }

    &-top-slider {
      padding-top: 40px;
    }

    &-bottom-slider {
      padding-bottom: 20px;
    }

    &-slide {
      height: 420px !important;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-scrollbar {
      background: transparent;
    }

    &-scrollbar-drag {
      background: #464646;
      height: 2px;
    }

    &-top-scrollbar {
      top: 0;
      bottom: 0;
      left: 0;
    }
  }
}

@media (max-width: 1070px) {
  .about {
    &__call {
      right: -18px;
    }
  }
}