.team {
  padding-bottom: 40px;
  background: url("../img/hero/promo-bg.png") center center/cover no-repeat;
  text-align: center;

  &__swiper {
    margin-top: 60px;
  }

  .swiper {
    &-slide {
      height: 336px !important;
    }
  }
  &__item {
    img {
      height: 100%;
    }
  }
}
