@import "base/variables";

.team {
  padding-bottom: 140px;
  text-align: center;

  &__top__text {
    font-size: 18px;
    line-height: 1.5;
    max-width: 900px;
    margin: 70px auto 0 auto;
    color: $black-color;
  }

  &__swiper {
    margin-top: 60px;
  }

  .swiper {
    &-wrapper {
      height: 400px !important;
    }

    &-slide {
      height: 340px !important;
    }

    &-scrollbar {
      background: transparent;
    }

    &-scrollbar-drag {
      background: #464646;
      height: 2px;
    }
  }
  &__item {
    img {
      height: 100%;
    }
  }

  &__cta {
    padding-top: 120px;
    color: $white-color;

    &__wrapper {
      background-color: $green-color;
    }

    &__container {
      display: flex;
      justify-content: space-between;
    }

    &-elements {
      padding: 70px 0 79px 0;
    }

    &-text {
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
    }

    &-btn {
      display: inline-block;
      padding: 8px 25px;
      border: 1px solid $white-color;
      border-radius: 5px;
      margin-top: 35px;
      color: $white-color;
    }

    &-img {
      position: relative;
      width: 100%;

      img {
        position: absolute;
        right: 0;
        bottom: 0;
        min-height: 100%;
        object-fit: cover;
      }
    }
  }
}


@media (max-width: 991.98px) {
  .team {
    padding-bottom: 60px;
    &__cta {
      padding-top: 40px;
    }
    &__cta__container {
      flex-wrap: wrap;
    }

    &__cta-elements {
      margin: 0 auto;
      text-align: center;
      max-width: 50%;
    }

    &__cta-text {
      line-height: 1.7;
    }

    &__cta-img {
      margin: 0 auto;

      img {
        position: static;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .team {
    &__cta-elements {
      max-width: 70%;
    }
  }
}

@media (max-width: 575.98px) {
  .team {
    padding-bottom: 40px;
    &__cta-elements {
      width: 100%;
      max-width: unset;
    }
    
    .swiper-wrapper {
      height: 360px !important;
    }
  }
}