.agreement__info__container {
  background: #026839;
  height: 250px;
}

.agreement__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px auto 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.agreement__text {
  max-width: 550px;
  padding-top: 75px;
  padding-bottom: 75px;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.agreement__text .bold-text {
  font-weight: 900;
}

.agreement__img {
  height: 287px;
  margin-top: -37px;
}

.agreement__img-img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.agreement__products__wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.agreement__products {
  text-align: center;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.agreement__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.agreement__product-icon {
  width: 135px;
  height: 135px;
}

.agreement__product-icon img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.agreement__product-number {
  color: #026839;
  font-weight: bold;
  font-size: 22px;
}

.agreement__product-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
}

.agreement__product__info {
  text-align: center;
  margin-top: 40px;
  font-size: 22px;
  line-height: 1.2;
}

.agreement .acceptanceOfLivestock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 160px;
  padding-top: 100px;
}

.agreement .acceptanceOfLivestock__title {
  font-size: 24px;
  font-weight: 700;
}

.agreement .acceptanceOfLivestock__subtitle {
  margin-top: 10px;
  max-width: 550px;
  font-size: 16px;
  line-height: 1.2;
}

.agreement .acceptanceOfLivestock__btn {
  display: inline-block;
  margin-top: 20px;
  padding: 6px 12px;
  border: 2px solid #026839;
  border-radius: 5px;
  font-size: 17px;
  color: #3A3A3C;
}

.agreement .acceptanceOfLivestock__right__block {
  position: relative;
  margin-left: 100px;
}

.agreement .acceptanceOfLivestock__img img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.agreement .acceptanceOfLivestock__img-first {
  margin-top: -100px;
  width: 410px;
}

.agreement .acceptanceOfLivestock__img-second {
  width: 210px;
  position: absolute;
  bottom: -30px;
  right: -40px;
}

.agreement .mission {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.agreement .mission__left__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.agreement .mission__right__text {
  font-size: 18px;
  line-height: 36px;
}

.agreement__cta__wrapper {
  background: #026839;
  margin-top: 100px;
}

.agreement__cta__container {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
}

.agreement__cta-text {
  font-size: 17px;
  line-height: 1.2;
}

.agreement__cta-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 120px;
}

.agreement__cta-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.agreement__cta-info span {
  margin-left: 7px;
  font-size: 20px;
  font-weight: bold;
}

.agreement__cta-info i {
  color: #fff;
  font-style: normal;
  font-size: 24px;
}

.agreement__cta-phone {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

@supports (-webkit-appearance:none) {

}
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImFncmVlbWVudC5zY3NzIiwiYmFzZS9fdmFyaWFibGVzLnNjc3MiLCJhZ3JlZW1lbnQuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUdFO0VBQ0UsYUFBQTtFQUNBLHlCQ0hVO0FDQ2Q7QUZLRTtFQUNFLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0Esd0JBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsOEJBQUE7QUVISjtBRk1FO0VBQ0UsZ0JBQUE7RUFDQSxpQkFBQTtFQUNBLG9CQUFBO0VBQ0EsV0FBQTtFQUNBLGVBQUE7RUFDQSxtQkFBQTtFQUNBLGdCQUFBO0FFSko7QUZNSTtFQUNFLGdCQUFBO0FFSk47QUZRRTtFQUNFLGFBQUE7RUFDQSxpQkFBQTtBRU5KO0FGT0k7RUFDRSxlQUFBO0VBQ0EsWUFBQTtFQUNBLG9CQUFBO0tBQUEsaUJBQUE7QUVMTjtBRlNFO0VBQ0UsaUJBQUE7RUFDQSxjQUFBO0FFUEo7QUZVRTtFQUNFLGtCQUFBO0VBQ0EsaUJBQUE7RUFDQSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSw4QkFBQTtFQUNBLG1CQUFBO01BQUEsZUFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtBRVJKO0FGV0U7RUFDRSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtFQUNBLDRCQUFBO0VBQUEsNkJBQUE7TUFBQSwwQkFBQTtVQUFBLHNCQUFBO0FFVEo7QUZXSTtFQUNFLFlBQUE7RUFDQSxhQUFBO0FFVE47QUZXTTtFQUNFLGVBQUE7RUFDQSxZQUFBO0VBQ0Esb0JBQUE7S0FBQSxpQkFBQTtBRVRSO0FGYUk7RUFDRSxjQ25FUTtFRG9FUixpQkFBQTtFQUNBLGVBQUE7QUVYTjtBRmNJO0VBQ0UsZUFBQTtFQUNBLGdCQUFBO0VBQ0EsaUJBQUE7QUVaTjtBRmVJO0VBQ0Usa0JBQUE7RUFDQSxnQkFBQTtFQUNBLGVBQUE7RUFDQSxnQkFBQTtBRWJOO0FGaUJFO0VBQ0Usb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx3QkFBQTtNQUFBLHFCQUFBO1VBQUEsdUJBQUE7RUFDQSxpQkFBQTtFQUNBLGtCQUFBO0FFZko7QUZpQkk7RUFDRSxlQUFBO0VBQ0EsZ0JBQUE7QUVmTjtBRmtCSTtFQUNFLGdCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxlQUFBO0VBQ0EsZ0JBQUE7QUVoQk47QUZtQkk7RUFDRSxxQkFBQTtFQUNBLGdCQUFBO0VBQ0EsaUJBQUE7RUFDQSx5QkFBQTtFQUNBLGtCQUFBO0VBQ0EsZUFBQTtFQUNBLGNDakhRO0FDZ0dkO0FGb0JJO0VBQ0Usa0JBQUE7RUFDQSxrQkFBQTtBRWxCTjtBRnFCTTtFQUNFLGVBQUE7RUFDQSxZQUFBO0VBQ0Esb0JBQUE7S0FBQSxpQkFBQTtBRW5CUjtBRnNCTTtFQUNFLGtCQUFBO0VBQ0EsWUFBQTtBRXBCUjtBRnVCTTtFQUNFLFlBQUE7RUFDQSxrQkFBQTtFQUNBLGFBQUE7RUFDQSxZQUFBO0FFckJSO0FGMEJFO0VBQ0UsaUJBQUE7RUFDQSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtBRXhCSjtBRjBCSTtFQUNFLGVBQUE7RUFDQSxnQkFBQTtFQUNBLGdCQUFBO0FFeEJOO0FGMkJJO0VBQ0UsZUFBQTtFQUNBLGlCQUFBO0FFekJOO0FGOEJJO0VBQ0UseUJDOUpRO0VEK0pSLGlCQUFBO0FFNUJOO0FGK0JJO0VBQ0UsZUFBQTtFQUNBLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLG1CQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLDhCQUFBO0VBQ0EsV0FBQTtBRTdCTjtBRitCSTtFQUNFLGVBQUE7RUFDQSxnQkFBQTtBRTdCTjtBRmdDSTtFQUNFLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0Esd0JBQUE7TUFBQSxxQkFBQTtVQUFBLHVCQUFBO0VBQ0EsNEJBQUE7RUFBQSw2QkFBQTtNQUFBLDBCQUFBO1VBQUEsc0JBQUE7RUFDQSxvQkFBQTtBRTlCTjtBRmdDTTtFQUNFLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLG1CQUFBO0VBQ0EsV0FBQTtBRTlCUjtBRmlDTTtFQUNFLGdCQUFBO0VBQ0EsZUFBQTtFQUNBLGlCQUFBO0FFL0JSO0FGa0NNO0VBQ0UsV0FBQTtFQUNBLGtCQUFBO0VBQ0EsZUFBQTtBRWhDUjtBRm9DSTtFQUNFLGdCQUFBO0VBQ0EsZUFBQTtFQUNBLGlCQUFBO0FFbENOO0FBQ0E7O0FBRUEiLCJmaWxlIjoiYWdyZWVtZW50LmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgXCJiYXNlL3ZhcmlhYmxlc1wiO1xyXG5cclxuLmFncmVlbWVudCB7XHJcbiAgJl9faW5mb19fY29udGFpbmVyIHtcclxuICAgIGhlaWdodDogMjUwcHg7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkZ3JlZW4tY29sb3I7XHJcbiAgfVxyXG5cclxuICAmX19pbmZvIHtcclxuICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICBtYXJnaW46IDgwcHggYXV0byAwIGF1dG87XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XHJcbiAgfVxyXG5cclxuICAmX190ZXh0IHtcclxuICAgIG1heC13aWR0aDogNTUwcHg7XHJcbiAgICBwYWRkaW5nLXRvcDogNzVweDtcclxuICAgIHBhZGRpbmctYm90dG9tOiA3NXB4O1xyXG4gICAgY29sb3I6ICNmZmY7XHJcbiAgICBmb250LXNpemU6IDE4cHg7XHJcbiAgICBmb250LXdlaWdodDogbm9ybWFsO1xyXG4gICAgbGluZS1oZWlnaHQ6IDEuMjtcclxuXHJcbiAgICAuYm9sZC10ZXh0IHtcclxuICAgICAgZm9udC13ZWlnaHQ6IDkwMDtcclxuICAgIH1cclxuICB9XHJcblxyXG4gICZfX2ltZyB7XHJcbiAgICBoZWlnaHQ6IDI4N3B4O1xyXG4gICAgbWFyZ2luLXRvcDogLTM3cHg7XHJcbiAgICAmLWltZyB7XHJcbiAgICAgIG1heC13aWR0aDogMTAwJTtcclxuICAgICAgaGVpZ2h0OiAxMDAlO1xyXG4gICAgICBvYmplY3QtZml0OiBjb3ZlcjtcclxuICAgIH1cclxuICB9XHJcblxyXG4gICZfX3Byb2R1Y3RzX193cmFwcGVyIHtcclxuICAgIG1heC13aWR0aDogMTAwMHB4O1xyXG4gICAgbWFyZ2luOiAwIGF1dG87XHJcbiAgfVxyXG5cclxuICAmX19wcm9kdWN0cyB7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICBtYXJnaW4tdG9wOiAxMDBweDtcclxuICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XHJcbiAgICBmbGV4LXdyYXA6IHdyYXA7XHJcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG4gIH1cclxuXHJcbiAgJl9fcHJvZHVjdCB7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcclxuICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XHJcblxyXG4gICAgJi1pY29uIHtcclxuICAgICAgd2lkdGg6IDEzNXB4O1xyXG4gICAgICBoZWlnaHQ6IDEzNXB4O1xyXG5cclxuICAgICAgaW1nIHtcclxuICAgICAgICBtYXgtd2lkdGg6IDEwMCU7XHJcbiAgICAgICAgaGVpZ2h0OiAxMDAlO1xyXG4gICAgICAgIG9iamVjdC1maXQ6IGNvdmVyO1xyXG4gICAgICB9XHJcbiAgICB9XHJcblxyXG4gICAgJi1udW1iZXIge1xyXG4gICAgICBjb2xvcjogJGdyZWVuLWNvbG9yO1xyXG4gICAgICBmb250LXdlaWdodDogYm9sZDtcclxuICAgICAgZm9udC1zaXplOiAyMnB4O1xyXG4gICAgfVxyXG5cclxuICAgICYtbmFtZSB7XHJcbiAgICAgIGZvbnQtc2l6ZTogMThweDtcclxuICAgICAgZm9udC13ZWlnaHQ6IDcwMDtcclxuICAgICAgbGluZS1oZWlnaHQ6IGNhbGMoMThweCAqIDIpO1xyXG4gICAgfVxyXG5cclxuICAgICZfX2luZm8ge1xyXG4gICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICAgIG1hcmdpbi10b3A6IDQwcHg7XHJcbiAgICAgIGZvbnQtc2l6ZTogMjJweDtcclxuICAgICAgbGluZS1oZWlnaHQ6IDEuMjtcclxuICAgIH1cclxuICB9XHJcblxyXG4gIC5hY2NlcHRhbmNlT2ZMaXZlc3RvY2sge1xyXG4gICAgZGlzcGxheTogZmxleDtcclxuICAgIGFsaWduLWl0ZW1zOiBmbGV4LXN0YXJ0O1xyXG4gICAgbWFyZ2luLXRvcDogMTYwcHg7XHJcbiAgICBwYWRkaW5nLXRvcDogMTAwcHg7XHJcblxyXG4gICAgJl9fdGl0bGUge1xyXG4gICAgICBmb250LXNpemU6IDI0cHg7XHJcbiAgICAgIGZvbnQtd2VpZ2h0OiA3MDA7XHJcbiAgICB9XHJcblxyXG4gICAgJl9fc3VidGl0bGUge1xyXG4gICAgICBtYXJnaW4tdG9wOiAxMHB4O1xyXG4gICAgICBtYXgtd2lkdGg6IDU1MHB4O1xyXG4gICAgICBmb250LXNpemU6IDE2cHg7XHJcbiAgICAgIGxpbmUtaGVpZ2h0OiAxLjI7XHJcbiAgICB9XHJcblxyXG4gICAgJl9fYnRuIHtcclxuICAgICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG4gICAgICBtYXJnaW4tdG9wOiAyMHB4O1xyXG4gICAgICBwYWRkaW5nOiA2cHggMTJweDtcclxuICAgICAgYm9yZGVyOiAycHggc29saWQgJGdyZWVuLWNvbG9yO1xyXG4gICAgICBib3JkZXItcmFkaXVzOiA1cHg7XHJcbiAgICAgIGZvbnQtc2l6ZTogMTdweDtcclxuICAgICAgY29sb3I6ICRibGFjay1jb2xvcjtcclxuICAgIH1cclxuXHJcbiAgICAmX19yaWdodF9fYmxvY2sge1xyXG4gICAgICBwb3NpdGlvbjogcmVsYXRpdmU7XHJcbiAgICAgIG1hcmdpbi1sZWZ0OiAxMDBweDtcclxuICAgIH1cclxuICAgICZfX2ltZyB7XHJcbiAgICAgIGltZyB7XHJcbiAgICAgICAgbWF4LXdpZHRoOiAxMDAlO1xyXG4gICAgICAgIGhlaWdodDogMTAwJTtcclxuICAgICAgICBvYmplY3QtZml0OiBjb3ZlcjtcclxuICAgICAgfVxyXG5cclxuICAgICAgJi1maXJzdCB7XHJcbiAgICAgICAgbWFyZ2luLXRvcDogLTEwMHB4O1xyXG4gICAgICAgIHdpZHRoOiA0MTBweDtcclxuICAgICAgfVxyXG5cclxuICAgICAgJi1zZWNvbmQge1xyXG4gICAgICAgIHdpZHRoOiAyMTBweDtcclxuICAgICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICAgICAgYm90dG9tOiAtMzBweDtcclxuICAgICAgICByaWdodDogLTQwcHg7XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcblxyXG4gIC5taXNzaW9uIHtcclxuICAgIG1hcmdpbi10b3A6IDEyMHB4O1xyXG4gICAgZGlzcGxheTogZmxleDtcclxuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcblxyXG4gICAgJl9fbGVmdF9fdGV4dCB7XHJcbiAgICAgIGZvbnQtc2l6ZTogMjBweDtcclxuICAgICAgZm9udC13ZWlnaHQ6IDcwMDtcclxuICAgICAgbGluZS1oZWlnaHQ6IDEuMjtcclxuICAgIH1cclxuXHJcbiAgICAmX19yaWdodF9fdGV4dCB7XHJcbiAgICAgIGZvbnQtc2l6ZTogMThweDtcclxuICAgICAgbGluZS1oZWlnaHQ6IGNhbGMoMThweCAqIDIpO1xyXG4gICAgfVxyXG4gIH1cclxuXHJcbiAgJl9fY3RhIHtcclxuICAgICZfX3dyYXBwZXIge1xyXG4gICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkZ3JlZW4tY29sb3I7XHJcbiAgICAgIG1hcmdpbi10b3A6IDEwMHB4O1xyXG4gICAgfVxyXG5cclxuICAgICZfX2NvbnRhaW5lciB7XHJcbiAgICAgIHBhZGRpbmc6IDcwcHggMDtcclxuICAgICAgZGlzcGxheTogZmxleDtcclxuICAgICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcclxuICAgICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xyXG4gICAgICBjb2xvcjogI2ZmZjtcclxuICAgIH1cclxuICAgICYtdGV4dCB7XHJcbiAgICAgIGZvbnQtc2l6ZTogMTdweDtcclxuICAgICAgbGluZS1oZWlnaHQ6IDEuMjtcclxuICAgIH1cclxuXHJcbiAgICAmLWluZm8ge1xyXG4gICAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgICBhbGlnbi1pdGVtczogZmxleC1zdGFydDtcclxuICAgICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxuICAgICAgcGFkZGluZy1yaWdodDogMTIwcHg7XHJcblxyXG4gICAgICBhIHtcclxuICAgICAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcbiAgICAgICAgY29sb3I6ICNmZmY7XHJcbiAgICAgIH1cclxuXHJcbiAgICAgIHNwYW4ge1xyXG4gICAgICAgIG1hcmdpbi1sZWZ0OiA3cHg7XHJcbiAgICAgICAgZm9udC1zaXplOiAyMHB4O1xyXG4gICAgICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xyXG4gICAgICB9XHJcblxyXG4gICAgICBpIHtcclxuICAgICAgICBjb2xvcjogI2ZmZjtcclxuICAgICAgICBmb250LXN0eWxlOiBub3JtYWw7XHJcbiAgICAgICAgZm9udC1zaXplOiAyNHB4O1xyXG4gICAgICB9XHJcbiAgICB9XHJcblxyXG4gICAgJi1waG9uZSB7XHJcbiAgICAgIG1hcmdpbi10b3A6IDEwcHg7XHJcbiAgICAgIGZvbnQtc2l6ZTogMjBweDtcclxuICAgICAgZm9udC13ZWlnaHQ6IGJvbGQ7XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcbiIsIiRibGFjay1jb2xvcjogIzNBM0EzQztcclxuJHJlZC1jb2xvcjogIzhkMjcyNDtcclxuJGdyZWVuLWNvbG9yOiAjMDI2ODM5O1xyXG4kd2hpdGUtY29sb3I6ICNmZmY7IiwiLmFncmVlbWVudF9faW5mb19fY29udGFpbmVyIHtcbiAgaGVpZ2h0OiAyNTBweDtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzAyNjgzOTtcbn1cbi5hZ3JlZW1lbnRfX2luZm8ge1xuICBkaXNwbGF5OiBmbGV4O1xuICBtYXJnaW46IDgwcHggYXV0byAwIGF1dG87XG4gIGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2Vlbjtcbn1cbi5hZ3JlZW1lbnRfX3RleHQge1xuICBtYXgtd2lkdGg6IDU1MHB4O1xuICBwYWRkaW5nLXRvcDogNzVweDtcbiAgcGFkZGluZy1ib3R0b206IDc1cHg7XG4gIGNvbG9yOiAjZmZmO1xuICBmb250LXNpemU6IDE4cHg7XG4gIGZvbnQtd2VpZ2h0OiBub3JtYWw7XG4gIGxpbmUtaGVpZ2h0OiAxLjI7XG59XG4uYWdyZWVtZW50X190ZXh0IC5ib2xkLXRleHQge1xuICBmb250LXdlaWdodDogOTAwO1xufVxuLmFncmVlbWVudF9faW1nIHtcbiAgaGVpZ2h0OiAyODdweDtcbiAgbWFyZ2luLXRvcDogLTM3cHg7XG59XG4uYWdyZWVtZW50X19pbWctaW1nIHtcbiAgbWF4LXdpZHRoOiAxMDAlO1xuICBoZWlnaHQ6IDEwMCU7XG4gIG9iamVjdC1maXQ6IGNvdmVyO1xufVxuLmFncmVlbWVudF9fcHJvZHVjdHNfX3dyYXBwZXIge1xuICBtYXgtd2lkdGg6IDEwMDBweDtcbiAgbWFyZ2luOiAwIGF1dG87XG59XG4uYWdyZWVtZW50X19wcm9kdWN0cyB7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgbWFyZ2luLXRvcDogMTAwcHg7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2VlbjtcbiAgZmxleC13cmFwOiB3cmFwO1xuICBhbGlnbi1pdGVtczogY2VudGVyO1xufVxuLmFncmVlbWVudF9fcHJvZHVjdCB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG59XG4uYWdyZWVtZW50X19wcm9kdWN0LWljb24ge1xuICB3aWR0aDogMTM1cHg7XG4gIGhlaWdodDogMTM1cHg7XG59XG4uYWdyZWVtZW50X19wcm9kdWN0LWljb24gaW1nIHtcbiAgbWF4LXdpZHRoOiAxMDAlO1xuICBoZWlnaHQ6IDEwMCU7XG4gIG9iamVjdC1maXQ6IGNvdmVyO1xufVxuLmFncmVlbWVudF9fcHJvZHVjdC1udW1iZXIge1xuICBjb2xvcjogIzAyNjgzOTtcbiAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gIGZvbnQtc2l6ZTogMjJweDtcbn1cbi5hZ3JlZW1lbnRfX3Byb2R1Y3QtbmFtZSB7XG4gIGZvbnQtc2l6ZTogMThweDtcbiAgZm9udC13ZWlnaHQ6IDcwMDtcbiAgbGluZS1oZWlnaHQ6IDM2cHg7XG59XG4uYWdyZWVtZW50X19wcm9kdWN0X19pbmZvIHtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICBtYXJnaW4tdG9wOiA0MHB4O1xuICBmb250LXNpemU6IDIycHg7XG4gIGxpbmUtaGVpZ2h0OiAxLjI7XG59XG4uYWdyZWVtZW50IC5hY2NlcHRhbmNlT2ZMaXZlc3RvY2sge1xuICBkaXNwbGF5OiBmbGV4O1xuICBhbGlnbi1pdGVtczogZmxleC1zdGFydDtcbiAgbWFyZ2luLXRvcDogMTYwcHg7XG4gIHBhZGRpbmctdG9wOiAxMDBweDtcbn1cbi5hZ3JlZW1lbnQgLmFjY2VwdGFuY2VPZkxpdmVzdG9ja19fdGl0bGUge1xuICBmb250LXNpemU6IDI0cHg7XG4gIGZvbnQtd2VpZ2h0OiA3MDA7XG59XG4uYWdyZWVtZW50IC5hY2NlcHRhbmNlT2ZMaXZlc3RvY2tfX3N1YnRpdGxlIHtcbiAgbWFyZ2luLXRvcDogMTBweDtcbiAgbWF4LXdpZHRoOiA1NTBweDtcbiAgZm9udC1zaXplOiAxNnB4O1xuICBsaW5lLWhlaWdodDogMS4yO1xufVxuLmFncmVlbWVudCAuYWNjZXB0YW5jZU9mTGl2ZXN0b2NrX19idG4ge1xuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gIG1hcmdpbi10b3A6IDIwcHg7XG4gIHBhZGRpbmc6IDZweCAxMnB4O1xuICBib3JkZXI6IDJweCBzb2xpZCAjMDI2ODM5O1xuICBib3JkZXItcmFkaXVzOiA1cHg7XG4gIGZvbnQtc2l6ZTogMTdweDtcbiAgY29sb3I6ICMzQTNBM0M7XG59XG4uYWdyZWVtZW50IC5hY2NlcHRhbmNlT2ZMaXZlc3RvY2tfX3JpZ2h0X19ibG9jayB7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgbWFyZ2luLWxlZnQ6IDEwMHB4O1xufVxuLmFncmVlbWVudCAuYWNjZXB0YW5jZU9mTGl2ZXN0b2NrX19pbWcgaW1nIHtcbiAgbWF4LXdpZHRoOiAxMDAlO1xuICBoZWlnaHQ6IDEwMCU7XG4gIG9iamVjdC1maXQ6IGNvdmVyO1xufVxuLmFncmVlbWVudCAuYWNjZXB0YW5jZU9mTGl2ZXN0b2NrX19pbWctZmlyc3Qge1xuICBtYXJnaW4tdG9wOiAtMTAwcHg7XG4gIHdpZHRoOiA0MTBweDtcbn1cbi5hZ3JlZW1lbnQgLmFjY2VwdGFuY2VPZkxpdmVzdG9ja19faW1nLXNlY29uZCB7XG4gIHdpZHRoOiAyMTBweDtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICBib3R0b206IC0zMHB4O1xuICByaWdodDogLTQwcHg7XG59XG4uYWdyZWVtZW50IC5taXNzaW9uIHtcbiAgbWFyZ2luLXRvcDogMTIwcHg7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG59XG4uYWdyZWVtZW50IC5taXNzaW9uX19sZWZ0X190ZXh0IHtcbiAgZm9udC1zaXplOiAyMHB4O1xuICBmb250LXdlaWdodDogNzAwO1xuICBsaW5lLWhlaWdodDogMS4yO1xufVxuLmFncmVlbWVudCAubWlzc2lvbl9fcmlnaHRfX3RleHQge1xuICBmb250LXNpemU6IDE4cHg7XG4gIGxpbmUtaGVpZ2h0OiAzNnB4O1xufVxuLmFncmVlbWVudF9fY3RhX193cmFwcGVyIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzAyNjgzOTtcbiAgbWFyZ2luLXRvcDogMTAwcHg7XG59XG4uYWdyZWVtZW50X19jdGFfX2NvbnRhaW5lciB7XG4gIHBhZGRpbmc6IDcwcHggMDtcbiAgZGlzcGxheTogZmxleDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICBjb2xvcjogI2ZmZjtcbn1cbi5hZ3JlZW1lbnRfX2N0YS10ZXh0IHtcbiAgZm9udC1zaXplOiAxN3B4O1xuICBsaW5lLWhlaWdodDogMS4yO1xufVxuLmFncmVlbWVudF9fY3RhLWluZm8ge1xuICBkaXNwbGF5OiBmbGV4O1xuICBhbGlnbi1pdGVtczogZmxleC1zdGFydDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgcGFkZGluZy1yaWdodDogMTIwcHg7XG59XG4uYWdyZWVtZW50X19jdGEtaW5mbyBhIHtcbiAgZGlzcGxheTogZmxleDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgY29sb3I6ICNmZmY7XG59XG4uYWdyZWVtZW50X19jdGEtaW5mbyBzcGFuIHtcbiAgbWFyZ2luLWxlZnQ6IDdweDtcbiAgZm9udC1zaXplOiAyMHB4O1xuICBmb250LXdlaWdodDogYm9sZDtcbn1cbi5hZ3JlZW1lbnRfX2N0YS1pbmZvIGkge1xuICBjb2xvcjogI2ZmZjtcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xuICBmb250LXNpemU6IDI0cHg7XG59XG4uYWdyZWVtZW50X19jdGEtcGhvbmUge1xuICBtYXJnaW4tdG9wOiAxMHB4O1xuICBmb250LXNpemU6IDIwcHg7XG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xufVxuQHN1cHBvcnRzICgtd2Via2l0LWFwcGVhcmFuY2U6bm9uZSl7XG5cbn1cbiJdfQ== */