.product__items {
  margin-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product__item {
  width: 30%;
  margin-bottom: 100px;
}

.product__img {
  background: grey;
  width: 100%;
  height: 300px;
}

.product__img img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.product__text {
  margin-top: 30px;
}

.product__title {
  font-size: 26px;
  font-weight: 700;
}

.product__subtitle {
  font-size: 18px;
  line-height: 36px;
}

.product__info {
  margin-top: 10px;
  font-size: 16px;
  padding: 10px 0;
}

.product__weight {
  background: #026839;
  padding: 4px 6px;
  color: #fff;
  border-radius: 5px;
  margin-left: 6px;
}

@supports (-webkit-appearance:none) {

}

@media (max-width: 992px) {
  .product__text {
    word-break: break-all;
  }

  .product__title {
    font-size: 24px;
  }

  .product__img {
    height: 240px;
  }

  .product__subtitle {
    font-size: 17px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  .product__items {
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }

  .product__item {
    width: 45%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 576px) {
  .product__img {
    height: 180px;
  }

  .product__title {
    font-size: 15px;
  }

  .product__subtitle {
    font-size: 13px;
  }

@supports (-webkit-appearance:none) {

}
}
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInByb2R1Y3Quc2NzcyIsInByb2R1Y3QuY3NzIiwiYmFzZS9fdmFyaWFibGVzLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBR0U7RUFDRSxpQkFBQTtFQUNBLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0Esd0JBQUE7TUFBQSxxQkFBQTtVQUFBLHVCQUFBO0VBQ0EsbUJBQUE7TUFBQSxlQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLDhCQUFBO0FDRko7QURLRTtFQUNFLFVBQUE7RUFDQSxvQkFBQTtBQ0hKO0FETUU7RUFDRSxXQUFBO0VBQ0EsYUFBQTtFQUNBLHNCQUFBO0FDSko7QURNSTtFQUNFLFlBQUE7RUFDQSxvQkFBQTtLQUFBLGlCQUFBO0FDSk47QURRRTtFQUNFLGdCQUFBO0FDTko7QURTRTtFQUNFLGVBQUE7RUFDQSxnQkFBQTtBQ1BKO0FEVUU7RUFDRSxlQUFBO0VBQ0EsaUJBQUE7QUNSSjtBRFdFO0VBQ0UsZ0JBQUE7RUFDQSxlQUFBO0VBQ0EsZUFBQTtBQ1RKO0FEWUU7RUFDRSxnQkFBQTtFQUNBLHlCRS9DVTtFRmdEVixXQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtBQ1ZKOztBRG9CQTtFQUVJO0lBQ0kscUJBQUE7RUNsQk47RURvQkU7SUFDRSxlQUFBO0VDbEJKO0VEcUJFO0lBQ0UsYUFBQTtFQ25CSjtFRHNCRTtJQUNFLGVBQUE7RUNwQko7QUFDRjtBRHdCQTtFQUVJO0lBQ0Usd0JBQUE7T0FBQSxxQkFBQTtZQUFBLGdCQUFBO0VDdkJKO0VEeUJFO0lBQ0UsVUFBQTtFQ3ZCSjtBQUNGO0FEMkJBO0VBRUk7SUFDRSxhQUFBO0VDMUJKO0VENkJFO0lBQ0UsZUFBQTtFQzNCSjtFRDhCRTtJQUNFLGVBQUE7RUM1Qko7QUFDRjtBQUNBOztBQUVBOztDQUVDOztBQUVEOztBQUVBOztBQUVBOztDQUVDOztBQUVEOztBQUVBOztBQUVBOztDQUVDOztBQUVEOztBQUVBOztBQUVBIiwiZmlsZSI6InByb2R1Y3QuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCBcImJhc2UvdmFyaWFibGVzXCI7XHJcblxyXG4ucHJvZHVjdCB7XHJcbiAgJl9faXRlbXMge1xyXG4gICAgbWFyZ2luLXRvcDogMTMwcHg7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgYWxpZ24taXRlbXM6IGZsZXgtc3RhcnQ7XHJcbiAgICBmbGV4LXdyYXA6IHdyYXA7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XHJcbiAgfVxyXG5cclxuICAmX19pdGVtIHtcclxuICAgIHdpZHRoOiAzMCU7XHJcbiAgICBtYXJnaW4tYm90dG9tOiAxMDBweDtcclxuICB9XHJcblxyXG4gICZfX2ltZyB7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIGhlaWdodDogMzAwcHg7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiBncmV5O1xyXG5cclxuICAgIGltZyB7XHJcbiAgICAgIGhlaWdodDogMTAwJTtcclxuICAgICAgb2JqZWN0LWZpdDogY292ZXI7XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAmX190ZXh0IHtcclxuICAgIG1hcmdpbi10b3A6IDMwcHg7XHJcbiAgfVxyXG5cclxuICAmX190aXRsZSB7XHJcbiAgICBmb250LXNpemU6IDI2cHg7XHJcbiAgICBmb250LXdlaWdodDogNzAwO1xyXG4gIH1cclxuXHJcbiAgJl9fc3VidGl0bGUge1xyXG4gICAgZm9udC1zaXplOiAxOHB4O1xyXG4gICAgbGluZS1oZWlnaHQ6IGNhbGMoMThweCAqIDIpO1xyXG4gIH1cclxuXHJcbiAgJl9faW5mbyB7XHJcbiAgICBtYXJnaW4tdG9wOiAxMHB4O1xyXG4gICAgZm9udC1zaXplOiAxNnB4O1xyXG4gICAgcGFkZGluZzogMTBweCAwO1xyXG4gIH1cclxuXHJcbiAgJl9fd2VpZ2h0IHtcclxuICAgIHBhZGRpbmc6IDRweCA2cHg7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkZ3JlZW4tY29sb3I7XHJcbiAgICBjb2xvcjogI2ZmZjtcclxuICAgIGJvcmRlci1yYWRpdXM6IDVweDtcclxuICAgIG1hcmdpbi1sZWZ0OiA2cHg7XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgKG1heC13aWR0aDogOTkycHgpIHtcclxuICAucHJvZHVjdCB7XHJcblxyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtYXgtd2lkdGg6IDk5MnB4KSB7XHJcbiAgLnByb2R1Y3Qge1xyXG4gICAgJl9fdGV4dCB7XHJcbiAgICAgICAgd29yZC1icmVhazogYnJlYWstYWxsO1xyXG4gICAgfVxyXG4gICAgJl9fdGl0bGUge1xyXG4gICAgICBmb250LXNpemU6IDI0cHg7XHJcbiAgICB9XHJcblxyXG4gICAgJl9faW1nIHtcclxuICAgICAgaGVpZ2h0OiAyNDBweDtcclxuICAgIH1cclxuXHJcbiAgICAmX19zdWJ0aXRsZSB7XHJcbiAgICAgIGZvbnQtc2l6ZTogMTdweDtcclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcbkBtZWRpYSAobWF4LXdpZHRoOiA3NjhweCkge1xyXG4gIC5wcm9kdWN0IHtcclxuICAgICZfX2l0ZW1zIHtcclxuICAgICAgY29sdW1uLWdhcDogMTVweDtcclxuICAgIH1cclxuICAgICZfX2l0ZW0ge1xyXG4gICAgICB3aWR0aDogNDUlO1xyXG4gICAgfVxyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtYXgtd2lkdGg6IDU3NnB4KSB7XHJcbiAgLnByb2R1Y3Qge1xyXG4gICAgJl9faW1nIHtcclxuICAgICAgaGVpZ2h0OiAxODBweDtcclxuICAgIH1cclxuXHJcbiAgICAmX190aXRsZSB7XHJcbiAgICAgIGZvbnQtc2l6ZTogMTVweDtcclxuICAgIH1cclxuXHJcbiAgICAmX19zdWJ0aXRsZSB7XHJcbiAgICAgIGZvbnQtc2l6ZTogMTNweDtcclxuICAgIH1cclxuICB9XHJcbn0iLCIucHJvZHVjdF9faXRlbXMge1xuICBtYXJnaW4tdG9wOiAxMzBweDtcbiAgZGlzcGxheTogZmxleDtcbiAgYWxpZ24taXRlbXM6IGZsZXgtc3RhcnQ7XG4gIGZsZXgtd3JhcDogd3JhcDtcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xufVxuLnByb2R1Y3RfX2l0ZW0ge1xuICB3aWR0aDogMzAlO1xuICBtYXJnaW4tYm90dG9tOiAxMDBweDtcbn1cbi5wcm9kdWN0X19pbWcge1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiAzMDBweDtcbiAgYmFja2dyb3VuZC1jb2xvcjogZ3JleTtcbn1cbi5wcm9kdWN0X19pbWcgaW1nIHtcbiAgaGVpZ2h0OiAxMDAlO1xuICBvYmplY3QtZml0OiBjb3Zlcjtcbn1cbi5wcm9kdWN0X190ZXh0IHtcbiAgbWFyZ2luLXRvcDogMzBweDtcbn1cbi5wcm9kdWN0X190aXRsZSB7XG4gIGZvbnQtc2l6ZTogMjZweDtcbiAgZm9udC13ZWlnaHQ6IDcwMDtcbn1cbi5wcm9kdWN0X19zdWJ0aXRsZSB7XG4gIGZvbnQtc2l6ZTogMThweDtcbiAgbGluZS1oZWlnaHQ6IDM2cHg7XG59XG4ucHJvZHVjdF9faW5mbyB7XG4gIG1hcmdpbi10b3A6IDEwcHg7XG4gIGZvbnQtc2l6ZTogMTZweDtcbiAgcGFkZGluZzogMTBweCAwO1xufVxuLnByb2R1Y3RfX3dlaWdodCB7XG4gIHBhZGRpbmc6IDRweCA2cHg7XG4gIGJhY2tncm91bmQtY29sb3I6ICMwMjY4Mzk7XG4gIGNvbG9yOiAjZmZmO1xuICBib3JkZXItcmFkaXVzOiA1cHg7XG4gIG1hcmdpbi1sZWZ0OiA2cHg7XG59XG5cbkBtZWRpYSAobWF4LXdpZHRoOiA5OTJweCkge1xuICAucHJvZHVjdF9fdGV4dCB7XG4gICAgd29yZC1icmVhazogYnJlYWstYWxsO1xuICB9XG4gIC5wcm9kdWN0X190aXRsZSB7XG4gICAgZm9udC1zaXplOiAyNHB4O1xuICB9XG4gIC5wcm9kdWN0X19pbWcge1xuICAgIGhlaWdodDogMjQwcHg7XG4gIH1cbiAgLnByb2R1Y3RfX3N1YnRpdGxlIHtcbiAgICBmb250LXNpemU6IDE3cHg7XG4gIH1cbn1cbkBtZWRpYSAobWF4LXdpZHRoOiA3NjhweCkge1xuICAucHJvZHVjdF9faXRlbXMge1xuICAgIGNvbHVtbi1nYXA6IDE1cHg7XG4gIH1cbiAgLnByb2R1Y3RfX2l0ZW0ge1xuICAgIHdpZHRoOiA0NSU7XG4gIH1cbn1cbkBtZWRpYSAobWF4LXdpZHRoOiA1NzZweCkge1xuICAucHJvZHVjdF9faW1nIHtcbiAgICBoZWlnaHQ6IDE4MHB4O1xuICB9XG4gIC5wcm9kdWN0X190aXRsZSB7XG4gICAgZm9udC1zaXplOiAxNXB4O1xuICB9XG4gIC5wcm9kdWN0X19zdWJ0aXRsZSB7XG4gICAgZm9udC1zaXplOiAxM3B4O1xuICB9XG59XG5Ac3VwcG9ydHMgKC13ZWJraXQtYXBwZWFyYW5jZTpub25lKXtcblxufVxuXG4gQG1lZGlhIChtYXgtd2lkdGg6IDk5MnB4KXtcblxuQHN1cHBvcnRzICgtd2Via2l0LWFwcGVhcmFuY2U6bm9uZSl7XG5cbn1cblxufVxuXG4gQG1lZGlhIChtYXgtd2lkdGg6IDc2OHB4KXtcblxuQHN1cHBvcnRzICgtd2Via2l0LWFwcGVhcmFuY2U6bm9uZSl7XG5cbn1cblxufVxuXG4gQG1lZGlhIChtYXgtd2lkdGg6IDU3NnB4KXtcblxuQHN1cHBvcnRzICgtd2Via2l0LWFwcGVhcmFuY2U6bm9uZSl7XG5cbn1cblxufVxuIiwiJGJsYWNrLWNvbG9yOiAjM0EzQTNDO1xyXG4kcmVkLWNvbG9yOiAjOGQyNzI0O1xyXG4kZ3JlZW4tY29sb3I6ICMwMjY4Mzk7XHJcbiR3aGl0ZS1jb2xvcjogI2ZmZjsiXX0= */