.footer {
  padding: 60px 0 48px 0;

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__address {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .mb-24 {
      margin-bottom: 30px;
    }

    &-address {
      position: relative;
      padding-left: 40px;
      font-size: 18px;
      font-weight: bold;

      &::before {
        content: "";
        position: absolute;
        background: url("../img/footer/location.svg") center center/cover
          no-repeat;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
      }

      &:last-child {
        margin-top: 24px;
        &::before {
          background: url("../img/footer/phone.svg") center center/cover
            no-repeat;
        }
      }
    }

    &-name,
    &-phone {
      margin-top: 8px;
      font-size: 18px;
      font-weight: 400;
      line-height: 160%;
      color: $black-color;

      a {
        color: $black-color;
      }
    }

    &-phone {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__links {
    text-align: left;
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
    flex-direction: column;
  }

  &__link-first {
    width: 220px;
  }

  &__link-second {
    width: 192px;
  }

  &__link-third {
    width: 162px;
  }

  &__menu {
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &-link {
      font-size: 16px;
      font-weight: 500;
      text-align: left;
      display: flex;
      flex-direction: column;

      a {
        color: $black-color;
        opacity: 0.9;
        transition: all 0.3s ease-in;

        &:hover {
          color: #000;
        }
      }
    }

    &__bottom {
      margin-top: 40px;
      justify-content: flex-start;
    }
  }

  &__social {
    margin-top: 40px;
    &-link {
      margin-left: 14px;

      &:first-child {
        margin-left: 0;
      }
    }

    i {
      font-style: normal;
      font-size: 30px;
      color: #757373;
      transition: all 0.3s ease-in;
    }

    .fa-facebook {
      &:hover {
        color: #4267b2;
      }
    }

    .fa-instagram {
      &:hover {
        color: #bc2a8d;
      }
    }

    .fa-telegram {
      &:hover {
        color: #0088cc;
      }
    }
  }

  &__bottom {
    margin-top: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .copyright {
      color: #464646;
    }
  }
}

@media (max-width: 991.98px) {
  .footer {
    &__top {
      justify-content: center;
      row-gap: 40px;
    }

    &__address {
      flex-direction: row;
      column-gap: 35px;

      &-address:last-child {
        margin-top: 0;
        margin-left: 100px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .footer {
    &__address {
      flex-wrap: wrap;

      &-address:last-child {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 661px) {
  .footer {

    &__top {
      row-gap: 60px;
    }
    &__address {
      justify-content: center;
      text-align: center;

      &-address {
        padding-left: 0;
      }

      &-address::before {
        top: -4px;
        left: 78px;
      }

      &-address:first-child::before {
        left: 86px;
      }

      &-address:last-child::before {
        left: 40px;
        top: -5px;
      }

      .mb-24 {
        margin-bottom: 40px;
      }

      &-phone {
        align-items: center;
      }
    }

    &__links {
      column-gap: 20px;
    }

    &__link-first, &__link-second, &__link-third {
      width: auto;
    }

    &__menu {
      column-gap: 40px;

      &__bottom {
        justify-content: center;
      }
    }

    &__social {
      text-align: center;
    }

    .copyright {
      margin: 0 auto;
    }
  }
}

@media (max-width: 440px) {
  .footer {
    
    &__menu {
      column-gap: 20px;
    }

    .copyright {
      font-size: 14px;
    }
  }
}


@media (max-width: 400px) {
  .footer {

    &__bottom {
      text-align: center;
    }
    
    &__menu {
      column-gap: 10px;

      &-link {
        a {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .footer {

    &__address {
      &-address:first-child::before {
        left: 30%;
      } 
    }
    &__menu {
      align-items: center;
      flex-direction: column;
      column-gap: 0;
      row-gap: 40px;

      &__bottom {
        margin-top: 40px;
      }
    }

    .copyright {
      font-size: 13px;
    }
  }
}