
@import "base/variables";

.header {
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &__hamburger {
    width: 30px;
    height: 30px;
    position: relative;
    display: none;

    &-line {
      width: 24px;
      height: 2px;
      border-radius: 2px;
      display: block;
      background-color: $green-color;
      position: absolute;
      left: 0;
    }

    .first-line {
      top: 7px;
    }

    .second-line {
      top: 50%;
    }

    .third-line {
      bottom: 5px;
    }
  }

  &__menu-close img {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 80px;

  &__list {
    display: flex;
    column-gap: 30px;
    font-size: 17px;
    font-weight: 500;
  }

  &__link {
    color: $black-color;
    font-size: 16px;
    font-weight: normal;
  }

  &__btn {
    padding: 6px 24px;
    border: 2px solid $green-color;
    border-radius: 4px;
    text-transform: capitalize;
    color: $black-color;
    font-size: 16px;
    font-weight: normal;
    color: $black-color;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  .hamburger__menu-logo {
    display: none;
  }

  &__button-mobile {
    display: none;
  }
}

.switch-lang {
  &-wrapper {
    position: relative;
    user-select: none;
    width: 40px;
    margin-right: 25px;
  }

  &-container {
    position: relative;
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }

  &-trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &-arrow {
    position: relative;
    height: 15px;
    width: 15px;

    &::after {
      content: "";
      background: url("../img/hero/openlanglistgreenicon.svg");
      background-size: contain !important;
      background-repeat: no-repeat !important;
      position: absolute;
      height: 100%;
      width: 10px;
      right: -10px;
      top: 2px;
      transition: all 0.4s;
    }
  }

  &-options {
    position: absolute;
    display: block;
    top: 210%;
    left: 0;
    right: 0;
    box-shadow: 0px 8px 16px rgb(0 0 0 / 8%);
    background: #fff;
    transition: all 0.5s;
    width: 60px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    border: 1px solid #000;
  }

  &-option {
    position: relative;
    display: block;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s;
    padding: 13px 17px;
    border-bottom: 1px solid $green-color;
    outline: 1px solid transparent;

    &:hover {
      background-color: aquamarine;
    }
  }

  &-option.selected {
    color: #fff;
    background-color: #fff;
  }

  .open &-arrow::after,
  .nav.active .open &-arrow::after {
    background: url("../img/hero/closelanglistgreenicon.svg");
    transform: rotateX(180deg);
    top: -8px;
  }

  &-container.open &-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

@media (max-width: 1300px) {
  .nav {
    &__link {
      font-size: 15px;
    }
  }
}

@media (max-width: 1137px) {
  .nav {
    &__link {
      font-size: 14px;
    }
  }
}

@media (max-width: 1100px) {
  .nav {
    &__link {
      font-size: 12px;
    }
  }
}

@media (max-width: 1070px) {
  .nav {
    &__logo {
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -50%);
    }
    &__links {
      flex-direction: column;
      text-align: center;
      background: #fff;
      position: absolute;
      left: 0;
      top: 0;
      width: 306px;
      height: 100vh;
      padding: 20px 24px 0 24px;
      z-index: 102;
      transform: translateX(-100%);
      transition: all 0.3s ease-in-out;
      overflow-x: scroll;
    }
    &__links.active {
      transform: translateX(0);
    }
    &__list {
      margin-top: 86px;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 30px;
    }
    &__link {
      color: $black-color !important;
      font-size: 20px;
    }

    .hamburger {
      &__menu-logo {
        position: absolute;
        top: 20px;
        display: block;
      }
    }

    .header__menu-close {
      border-radius: 2px;
      width: 20px;
      position: absolute;
      top: 35px;
      right: 22px;
      z-index: 15;

      img {
        display: block;
      }
    }

    .header__hamburger {
      display: block;
    }
  }
}

@media (max-width: 991.98px) {
  .nav {
    &__button {
      display: none;
    }

    &__button-mobile {
      display: block;
      margin-top: 30px;

      .nav__btn {
        color: $black-color;
        font-size: 20px;
      }
    }
  }
}


@media (max-width: 577px) {
  .nav {
    &__links {
      width: 100%;
    }
  }
}