@import "../base/variables";

.page {
  &__title-block {
    padding-top: 150px;
    text-align: center;
  }
  &__title {
    font-size: 48px;
    font-weight: bold;
  }
  &__subtitle {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid $green-color;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 16px;
    color: $black-color;
  }
}

.red__text {
  color: $red-color;
}

.green__text {
  color: $green-color;
}

@media (max-width: 576px) {
  .page {
    &__subtitle {
      font-size: 22px;
    }
  }
}

@media (max-width: 360px) {
  .page {
    &__title {
        font-size: 36px;
    }

    &__subtitle {
        font-size: 17px;
        line-height: 1.4;
    }
  }
}
